/* app global css */
/* @font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito-Light.ttf);
} */

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

.my-font {
  font-family: "Nunito";
}
